nav#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #444;
}

nav#main-nav h1 {
  font-size: 30px;
  color: #fff;
}


nav#main-nav .home {
    display: flex;
    gap: 20px;
    color: #fff;
}